
:root {
  --black: rgb(3, 1, 16);
  --white: rgb(236, 236, 236);
  --lightblue: rgb(0, 135, 176);
  --medblue: rgb(0, 84, 108);
  --darkblue: rgb(0, 53, 67);
  --darkgreen: rgb(26, 61, 5);
}

body {
  background-color: var(--black);
  box-sizing: border-box;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 100vh;
  /* border: 2px solid green; */
}

.App {
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* border: 1px solid red; */
}

.App-header {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-main {
  margin-top: -2px;
  position: relative;
  z-index: 1;
  flex: 1;
}

.App-footer {
  margin-top: 10px;
  align-content: center;
  border-top: 1px solid var(--white);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

}

h3 {
  margin: 0px;
  padding: 0px;
}

h4 {
  margin: 0px;
  padding: 0px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* STEPS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.steps1 {
  width: 900px;
  background-color: var(--darkgreen);
  border: 1px solid var(--white);
  margin: auto;
  height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.StepElement {
  margin-top: 10px;
  display: flex;
  width: 850px;
  border: 3px solid red;
  justify-content:space-around;
  align-items: center;
}

.ChildElement {
  width: 75px;
  height: 90px;
  border: 2px solid red;
}

.textInformation {
  display: flex;
  flex-direction: column;
}

/* contains 'Stack' and the child element */
.childOuter {
  margin-top: 10px;
  margin-bottom: 5px;
}
.childOuter i {
  font-size: 0.75rem;
}

.textCell {
  background-color: rgb(190, 190, 190);
  border: 1.5px solid rgb(74, 74, 74);
  color: black;
  min-width: 75px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.indexContainer {
  display: flex;
  flex-direction: row;
}

.elCell {
  margin-left: 5px;
  padding: 2px;
}

.downArrow {
  color: yellow;
  font-size: 26px;
}

.arrowDiv {
  height: 30px;
}

.elDiv {
  height: 20px;
}

.actionDescriptionContainer {
  height: 100px;
}

.stepNum {
  width: 100px;
}

.textInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: normal;
  border: 2px solid white;
  width: 500px;
  padding: 10px;
}

.actionsContainer {
  color: yellow;
  margin-top: 10px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* MAIN */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.App-main h1 {
  margin: 0px;
  padding-top: 20px;
}

.mainform {
  border: solid 2px var(--white);
  width: 900px;
  margin: auto;
  /* height: 250px; */
} 

.calcpostfixwindow {
  background-color: var(--lightblue);
}


.conpostfixwindow {
  background-color: var(--medblue);
}

.coninfixwindow {
  background-color: var(--darkblue);
}

#userInput {
  margin: 10px;
}

.convertCalcBtn {
  margin-right: 10px;
}

.resultBox {
  border: 2px solid red;
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.resultPrompt {
  margin-right: 20px;
}

.answer {
  color: yellow;
}

.error {
  color: rgb(255, 53, 53);
}

.correct {
  color: var(--white);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NAVBAR */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navbar {
  display: flex;
}

.btn {
  border-left: solid 2px var(--white);
  border-top: solid 2px var(--white);
  border-right: solid 2px var(--white);
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 8rem;
}

.btn span {
  pointer-events: none; /* Prevents clicks on text from erroring the activetab function */
}

.btn:hover {
  font-weight: 600;
}

.postfixcalculator {
  background-color: var(--lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.postfixtoinfix {
  background-color: var(--medblue);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.infixtopostfix {
  background-color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow {
  margin-left: 5px;
  margin-right: 5px;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

.gotobottom {
  z-index: 0;
}

.gototop {
  z-index: 99;
}

/* for testing */
.hide {
  display: none;
}